*{
    box-sizing: border-box;
    font-family: ui-serif;
}
body{
    font-size: 16px;
    margin: 0px;
}
/*header*/
#media #pic{
    animation-name: anim;
    animation-duration: 2s;
}
#media #paragraph{
    animation-name: anim1;
    animation-duration: 2s;
}
@keyframes anim {
    0%{ transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes anim1 {
    0%{ transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
/*header*/

/*MAIN*/
main{
    display: flex;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}
main .cv{
    background-color: black;
    color: white;
    width: 300px;
    font-weight: 1.2em;
    padding-left: 20px;
    border: 1px solid white;
}
main .mywork {
    display: flex;
    align-items:self-start;
    grid-column-gap: 40px;  
    flex-direction: row;
    padding: 10px;
}
main .mywork a{
    border: 3px solid grey;
    width: 300px;
    height: 450px;
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    background-color: black;  
}
main .mywork .underimagecard{
    width: 300px;  
}
/*main #card :is(:hover, :focus) {
    box-shadow: 0px 8px 10px 1px rgba(0, 0, 0, 0.2);
    transform: translateY(-8px);
    background-color: white;
    color: black;
  }*/
main #card :hover{
    box-shadow: -8px 5px 5px grey ;
    background-color: white;
    color: black;
    border: 2px solid black;
    
   
}

/*MAIN*/
/*FOOTER*/
footer form .intro h2{
    font-size: 1.5em;
    font-family: monospace;
}
footer form .intro p{
    background-color: black;
    color: white;
}
footer div form{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-gap: 40px;  
}
footer div form [type="text"] , footer div form [type="email"] , footer div form textarea{
    width: 100%;
    border-style: none none solid;
    border-width: 5px;
    border-color: black;
    outline: none;
    grid-column: 2/3;
}
footer .form [type="submit"]{
    border: 2px solid black;
    width: 100px;
    border-radius: 10px;
} 
i{
    color: white;
    size: 20px;
}
/*footer .endfooter p{
    height: 30px;
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}*/
/*FOOTER*/



/*SCREEN*/
@media screen and (max-width:900px) {
    
    header #media img{
        display: none;
    }
    header #media{
        background: linear-gradient(rgb(0, 0, 0, .4) , rgb(0, 0, 0, .9)) , url('faezeh nikmandan3.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top , center;
        box-shadow: -5px 7px 25px #999;
    }
    header #media #paragraph{
        color: white;
        
    }
   
}
@media screen and (max-width:770px) {
    /*header section .imgandintro{
        background-position: center ;
    }*/
    
}
@media screen and (max-width:600px) {
   /* header nav{
        flex-direction: column;
    }
    #cv-cards{
        display: block;
    }
    main .cv{
        background-color: black;
        color: white;
        width: 100%;
        padding: 10px;
    }
    main .skills{
        display: flex;
        justify-content: center;
        grid-column-gap: 5px;
        padding: 2px;
    }
    footer div form{
        display: block;
        padding: 5px;
    }*/
}
